.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.hi-icon {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
  height: 15px;
  width: 15px;
  margin: 0;
  &::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  &::before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
  &-cog {
    position: relative;
    right: 0;
    transition: all 0.3s;
    background-color: transparent;
    &::before {
      content: "\f067";
      font-weight: 900;
      font-family: $font-awesome;
      color: $blue;
      transition: color .3s;
      font-size: 8px;
      line-height: 15px;
      -webkit-text-stroke-width: .5px;
      -webkit-text-stroke-color: $blue;
    }
  }
}

.btn-5 {
  color: #fff;
  overflow: hidden;
  backface-visibility: hidden;
  font-family: $font-roboto;
  font-size: 14px;
  width: 100%;
  min-width: 0;
  max-width: 155px;
  padding: 10px;
  margin: 0;
  height: 40px;
  border-radius: 5px;
  background: $green;
  line-height: 1.5;
  &:active {
    top: 2px;
    background: rgba(66, 190, 86, 0.71);
    &:before {
      color: #299e3c;
    }
  }
  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  &::before {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    font-size: 18px;
    font-weight: normal;
    line-height: 2.2;
  }
  &a{
    &:hover span {
      transform: translateY(300%);
    }
    &:before {
      left: 0;
      top: -100%;
    }
    &:hover:before {
      top: 0;
    }
  }
  @include r(768) {
    max-width: 0;
    min-width: 100%;
  }
}

.icon-cart:before {
  content: "\f073";
  font-weight: 900;
  font-family: $font-awesome;
}