[class^="icon-"],
[class*=" icon-"] {
  &:before {
    display: inline-block;
    vertical-align: middle;
    font-family: 'iconFont';
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  }
}

.icon-ruler:before {
  content: '\eA20';
}

.icon-people:before {
  content: '\eA21';
}

.icon-bed:before {
  content: '\eA22';
}

.icon-cigarette:before {
  content: '\eA23';
}

.icon-wifi:before {
  content: '\eA24';
}

.icon-safe:before {
  content: '\eA25';
}

.icon-shower:before {
  content: '\eA26';
}

.icon-airconditioner:before {
  content: '\eA27';
}

.icon-camera:before {
  content: '\eA28';
}

.icon-check:before {
  content: '\eA29';
}

.icon-ladder:before {
  content: '\eA30';
}

.icon-cup:before {
  content: '\eA31';
}

.icon-kingbed:before {
  content: '\eA32';
}

.icon-safebig:before {
  content: '\eA33';
}

.icon-spoon:before {
  content: '\eA34';
}

.icon-info:before {
  content: '\eA35';
}

.icon-info-fill:before {
  content: '\eA36';
}

